@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: black;
}

.container {
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    height: 10rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 4.25rem;
}

.sub-logo {
    width: 2rem;
    height: 8rem;
    background-color: #B20710;
    position: relative;
}

.sub-logo::before {
    content: '';
    width: 2rem;
    height: 8rem;
    background-color: #B20710;
    position: absolute;
    left: 2.9rem;
}

span {
    width: 2rem;
    height: 8rem;
    background-color: #E50914;
    position: absolute;
    left: 1.5rem;
    transform: skew(20deg);
    box-shadow: 
    0 0 2rem black;
}

.sub-logo::after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: black;
    position: absolute;
    bottom: -1rem;
    left: 1.38rem;
    border-radius: 50%;
    transform: scale(3, 0.5);
}

.text {width: 15rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.sub-text {
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;

@media (max-width:767px) {
    html {
        font-size: 8px
    }
}